
html { 

}

body {

}

#bgImage {
	position: fixed;
	width: 100%;
	height: 100%;

	background: url(../img/bg_lage.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='.myBackground.jpg', sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='myBackground.jpg', sizingMethod='scale')";
}


#myForm {

}

#myInputField {
	width: 100%;
}

#myPassword {
	width: 100%;
}

#myDropdownList {
	width: 100%;
}

#myTextarea {
	width: 100%;
}

#myCheckbox {

}

#mySubmit {
	float: right;
}

#myFormContainer {

	background-color: $beige;
	width: 400px;
	height: 450px;
	padding: 2% 2% 2% 2%;
}



#dataArea
{
	position: absolute;
	background-color: $beige;
	width: 300px;
	height: auto;
	right: 0px;
	top: 0px;
	padding: 5%;
}









/*(like mobile phones in landscape or smaller tablets)*/
@media screen and (min-width: 28.75em) {
	 #myFormContainer {
		width: 96%;
		position: absolute;
		bottom: 0;
	}

	#bgImage {
		background: url(../img/bg_medium.jpg) no-repeat center center fixed; 
	}
}

/*(like medium tablets and up) */
@media screen and (min-width: 40.5em) {

	 #myFormContainer {
		width: 400px;
		position: absolute;
		bottom: 0; left: 0;
		margin: 0px 2% 2% 2%;
	}

	#bgImage {
		background: url(../img/bg_large.jpg) no-repeat center center fixed; 
	}
}


