// ==================
// _variabeles.scss
// ==================
@import "http://fonts.googleapis.com/css?family=Patua+One|Inika";

$beige	:#E3C691;
$green	:#507356;

$headFont : 'Patua One', sans-serif;
$bodyFont : 'Inika', serif;